{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">CDEX API</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class=""><a href="{{ url('dashboard') }}">Transactions</a></li>               
              <li class="active"><a href="{{ url('service') }}">Services</a></li> 
                      

            </ul>           
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h2>Credential</h2>
        <br>
        <style>.form-control{width:40% !important;}</style> 

        <form action='{{ url('addCredential') }}' method='POST' name='form'>
          {% set password = 'password' %}
          {% for key,val in values %}            
            <div class="form-group">
              <label for="{{key}}">{{key | capitalize}}</label>
              <input type="{{(password in key|lower) ? 'password':'text'}}" class="form-control" 
              name="fields[{{key}}]" id="{{key}}" value="{{val}}"/>            
            </div>
          {% endfor %}  
          <input type='hidden' name='service_name' value="{{ name }}">      
          <button type="submit" class="btn btn-default" name='submit'>Submit</button> <a href="{{url('service')}}">Back</a>
          
        </form>
       
      </div>

    </div>
{% endblock %}
