{% extends "BackendBundle:Secured:secured-layout.html.twig" %}

{% block body %}
      
      <div class="jumbotron">
        <h2>Third Party Service List</h2>
        <a href="{{ path('_demo_secured_service_add') }}">Add Service</a>
        <br>
        <br>
         
        <table class="table table-hover">
            <tr>
                <th>S.N</th>
                <th>Service Name</th>               
                <th>Add</th>               
            </tr>          
            {% set status = 1 %}
            {% for entry in services %}            
            <tr>
                <td>{{loop.index}}</td>
                <td>{{ entry.service_name | upper }}</td>
                <td>
                  <a href="{{ path('_demo_secured_credentials', {'id': entry.service_name}) }}">Credentials</a>

                  <a href="{{url('_demo_secured_service_add', {'name': entry.service_name,'id':entry.id})}}" class='btn btn-primary btn-xs'>Edit</a>

                  <a href="{{url('_demo_secured_service_status',{'id':entry.id,'status':entry.status})}}" class='btn btn-primary btn-xs' 
                  value='{{entry.id}}' name='status'>{{(status in entry.status)?'Deactivate':'Activate'}}</a>

                  <a href="{{url('_demo_secured_service_logs', {'name':entry.service_name,'id': entry.id})}}" class='btn btn-default btn-xs'>Logs</a>
                 
                  {% if entry.is_ftp_service == 1 %}  
                    <a href="{{url('list', {'name':entry.service_name,'id': entry.id})}}" class='btn btn-primary btn-xs'>Generated Files</a>
                  {% endif %}

                </td>
            </tr>
            {% endfor %}
        </table>
      </div>

    
{% endblock %}
