{% extends "BackendBundle:Secured:secured-layout.html.twig" %}

{% block body %}
      <div class="jumbotron">
        <h2>Credential</h2>
        <br>
        <style>.form-control{width:40% !important;}</style> 

        <form action='{{ url('_demo_secured_add_credential') }}' method='POST' name='form'>
          {% set password = 'password' %}
          {% for key,val in values %}            
            <div class="form-group">
              <label for="{{key}}">{{key | capitalize}}</label>
              <input type="text" class="form-control"
              name="fields[{{key}}]" id="{{key}}" value="{{val}}"/>            
            </div>
          {% endfor %}  
          <input type='hidden' name='service_name' value="{{ name }}">      
          <button type="submit" class="btn btn-default" name='submit'>Submit</button> <a href="{{url('_demo_secured_services')}}" class="btn btn-default">Back</a>
          
        </form>
       
    </div>

{% endblock %}
